:root {
  --color-primary: #00adb5;
  --color-secondary: #393e46;
  --color-dark: #222831;
  --color-light: #eeeeee;
  --header-height: 64px;
  --footer-height: 64px;
}
/*
.header {
  height: var(--header-height);
  background-color: #00adb5;
}

.footer {
  height: var(--footer-height);
} */

* {
  text-decoration: none;
}
